@import 'fonts','variables','mixins';
*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Gilroy', sans-serif;
  font-size: 14px; 
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 25;
  color: $black;
}
a{
  text-decoration: none;
  color: inherit;
  &:hover{
    color: inherit;
  }
}
.container{
   max-width: 1150px;
   margin: 0 auto;
   padding: 0 20px;
}
.header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  font-size: 12px;
  color: $gray;
  width: 100%;
  .navigation{
    padding: 11px 0;
    border-bottom: 1px solid $gray;
    position: relative;
    width: 100%;
    margin: 0;
  }
  .navigation-links{
    padding: 0;
  }
  .navigation-links__item{
    height: max-content;
    margin-right: 15px;
    position: relative;
    transition: all 0.5s;
    &::before{
      position: absolute;
      content: '';
      bottom: -11px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 5px;
      height: 5px;
      border-bottom: 6px solid $gray;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      transition: all 0.5s;
      opacity: 0;
      }
    a{
      display: block;
      height: 100%;
      transition: all 0.5s;

    }

    &:hover{
          &::before{
            opacity: 1;
            transition: all 0.5s;
            }
    a{
      color: $black;
      transition: all 0.5s;

    }
    }
  }
  .navigation-leaf{
    position: absolute;
    top: 0;
    width: max-content;
    padding: 0;
    left: 53%;
    img{
      height: 70px;
    }
  }
  .navigation-address{
    padding: 0;
    a{
      display: block;
      transition: all 0.5s;
      position: relative;
      &::before{
        position: absolute;
        content: '';
        bottom: -11px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 5px;
        height: 5px;
        border-bottom: 6px solid $gray;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        color: $black;
        transition: all 0.5s;
        opacity: 0;
      }

        &:hover{
          color: $black ;
                &::before{
          opacity: 1;
          transition: all 0.5s;

        }
      }
    }
  }
}
.greeting{
  position: relative;
  z-index: 0;
  padding: 75px 0 50px;

  .greeting-bckg1{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('../images/bckg1.jpg');
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 0.4;
    border-bottom-left-radius: 70% 15%;
    border-bottom-right-radius: 70% 15%;
  }
  .greeting-bckg2{
    position: absolute;
    width: 100%;
    height: 700px;
    right: 0;
    top: 0;
    background-image: url('../images/lines.png');
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
  }
  .greeting-leaf1{
    position: absolute;
    width: max-content;
    height: max-content;
    left: 190px;
    top: 160px;
    z-index: 6;
  }
  .greeting-leaf2{
    position: absolute;
    width: max-content;
    height: max-content;
    left: 755px;
    top: 365px;
    z-index: 6;
  }
  .greeting-leaf3{
    position: absolute;
    width: max-content;
    height: max-content;
    left: 1115px;
    top: 265px;
    z-index: 6;
  }
  .greeting-leaf4{
    position: absolute;
    width: max-content;
    height: max-content;
    left: 0px;
    top: 530px;
    z-index: 6;
  }
  .greeting-leaf5{
    position: absolute;
    width: max-content;
    height: max-content;
    left: 1100px;
    top: 530px;
    z-index: 6;
  }
  .greeting-leaf6{
    position: absolute;
    width: max-content;
    height: max-content;
    left: 730px;
    bottom: -10px;
    z-index: 6;
  }
  .container{
    position: relative;
    z-index: 5;
  }
  .greeting-nav{

  }
  .logo{
    display: block;
    height: max-content;
  }
  .greeting-nav__list{
    list-style: none;
    height: max-content;
    padding: 11px 0;
    margin: 0;
  }
  .greeting-nav__item{
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 21px;
    display: block;
    height: max-content;
    transition: all 0.5s;

    a{
      display: block;
      height: max-content;
      line-height: normal;
      position: relative; 

      &.new::before{
        position: absolute;
        content: 'NEW';
        background: linear-gradient(0deg, #c60008, #ff161f);
        color: $white;
        padding: 3px 7px;
        right: 0px;
        top: -25px;
        border-radius: 5px;
        box-shadow: 3px 0 7px rgba(198, 0, 8, 0.35);
        font-size: 11px;
      }
      &.new::after{
        position: absolute;
        content: '';
        border-top: 5px solid #c60008;
        border-right: 5px solid transparent;
        right: 28px;
        top: -6px;
      }
    }
    &::after{
      position: absolute;
      content: '';
      width: 2px;
      height: 12px;
      background: $black;
      top: 0;
      bottom: 0;
      margin: auto;
      right: -1px;
    }
    &:last-child{
      &::after{
        display: none;
      }
    }
    &:hover{
      color: $blue;
      text-decoration: underline;
      transition: all 0.5s;
    }
  }
  .greeting-call{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .phone{
      font-size: 24px;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 10px;
    } 
    .networks{
      display: flex;
      color: $blue;
      margin-bottom: 30px;
      a{
        display: flex;
        margin-left: 15px;
        align-items: flex-end;
        padding-bottom: 3px;
        position: relative;
        border-bottom: 1px dashed $blue;
                img{
          min-width: 19px;
          height: 19px;
          margin-right: 7px;
        }
        p{
          margin: 0;
          line-height: normal;
        }
      }
    }
    .btn-wrapper{
      @include btn-wrapper;
    }
  }
  .greeting-content{
    position: relative;
    width: 75%;
    .bigPhoto{
      position: absolute;
      left: calc(69% + 20px);
      top: 20px;
      filter: drop-shadow(0 0 20px #000);
    }

    h1{
      font-size: 48px;
      line-height: normal;
      font-weight: 500px;
      span{
          font-weight: 700;
      }
    }
    h2{
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 30px;
    }
    p{
      margin-bottom: 4px;
      max-width: 520px;
      font-size: 16px;
      span{
        font-weight: 700;
      }
    }

    .greeting-content__link{
      @include btn-wrapper;
      margin-top: 50px;
      margin-left: 100px;
      .catalog{
        position: absolute;
        top: -18px;
        left: -100px;
      }
    }
  }
  .greeting-advantages{
    display: flex;

  }
  .greeting-advantages__inner{
    margin-top: 60px;
    max-width: 240px;
    margin-right: 110px;
    .img-wrapper{
      height: 86px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

    }
    h3{
      color: $blue;
      text-transform: uppercase;
      margin-bottom: 20px;
      position: relative;
      font-weight: 700;
      font-size: 14px;
      line-height: normal;
      &::after{
        position: absolute;
        content: '';
        height: 1px;
        width: 30px;
        background: $blue;
        bottom: -10px;
        left: 0;
      }
    }
    p{
      margin-bottom: 0;
      font-size: 14px;
      line-height: normal;
    }
  }
}
.varieties-wrapper{
  margin: 60px 0;
  position: relative;
  z-index: 1;
  .varieties-leaf1{
    position: absolute;
    width: max-content;
    height: max-content;
    left: 170px;
    top: -50px;
    z-index: 2;
  }
  .varieties-leaf2{
    position: absolute;
    width: max-content;
    height: max-content;
    right: 45px;
    top: 50%;
    z-index: 2;
  }
  .varieties-leaf3{
    position: absolute;
    width: max-content;
    height: max-content;
    right: 525px;
    bottom: 20px;
    z-index: 2;
  }
  .varieties-leaf4{
    position: absolute;
    width: max-content;
    height: max-content;
    left: 0px;
    bottom: -100px;
    z-index: 2;
  }
}
.container{
  position: relative;
  z-index: 5;
}
.varieties {
  column-width: 255px;
  column-gap: 30px;
  width: 100%;
  .card {
    border: none;
    width: 255px;
    margin: 0 2px 15px;
    padding: 20px;
    padding-bottom: 10px;
    display: inline-block;
    column-break-inside: avoid;
    overflow: hidden;
    border-radius: 10px;
    &:nth-child(1){
      background: #e1f7ea;
      margin-top: 40px;
    }
    &:nth-child(2){
      background: #e3f5fe;
    }
    &:nth-child(3){
      background: #fdf7d3;
    }
    &:nth-child(4){
      background: #ffeded;
    }
    &:nth-child(5){
      background: #f8e8ff;
      margin-top: 20px;
    }
    &:nth-child(6){
      background: #f4f4f4;
    }
    &:nth-child(7){
      background: #e8fcff;
      margin-top: 70px;
    }
    &:nth-child(8){
      background: #f7ffe8;
    }
    h3 {
      font-size: 14px;
      text-transform: uppercase;
      line-height: normal;
      font-weight: 700;
      color: $black;
      margin-bottom: 15px;
    }
    a{
      margin-top: 5px;
      display: block;
      transition: all 0.3s;
      color: $gray;
      &:hover{
        transition: all 0.3s;
        color: $blue;
        text-shadow: 0px 0px 1px $blue;
        text-decoration: underline;
      }
    }
    img {
      width: 155px; 
      height: auto;
      margin: 15px -20px 20px auto;
      display: block;
      border-bottom-left-radius: 10px;
      filter: drop-shadow(-6px 6px 10px rgba(0, 0, 0, 0.1));

    }
  }
}
.catalog-field{
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 60px 0;
  .catalog-bckg1{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../images/bckg2.jpg');
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 70% 15%;
    border-top-right-radius: 70% 15%;
    border-bottom-left-radius: 70% 15%;
    border-bottom-right-radius: 70% 15%;
  }
  .catalog-bckg2{
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 700px;
    right: 0;
    top: 0;
    background-image: url('../images/lines.png');
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 70% 15%;
    border-top-right-radius: 70% 15%;
    border-bottom-left-radius: 70% 15%;
    border-bottom-right-radius: 70% 15%;
    z-index: 2;
  }
  .catalog-leaf1{
    position: absolute;
    width: max-content;
    height: max-content;
    left: 390px;
    top: 145px;
    z-index: 3;
  }
  .catalog-leaf2{
    position: absolute;
    width: max-content;
    height: max-content;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
    z-index: 3;
  }
  .catalog-leaf3{
    position: absolute;
    width: max-content;
    height: max-content;
    right: 90px;
    top: 50%;
    z-index: 3;
  }
  .catalog-leaf4{
    position: absolute;
    width: max-content;
    height: max-content;
    left: 60px;
    top: 60%;
    z-index: 3;
  }
  .catalog-leaf5{
    position: absolute;
    width: max-content;
    height: max-content;
    right: 90px;
    bottom: 0;
    z-index: 3;
  }
  .catalog-leaf6{
    position: absolute;
    width: max-content;
    height: max-content;
    left: 35%;
    bottom: -20px;
    z-index: 3;
  }
  .container{
    position: relative;
    z-index: 4;
    h2{
      text-align: center;
      font-weight: 600;
      font-size: 36px;
      line-height: normal;
      margin-bottom: 15px;
    }
    .catalog-filtres{
      display: flex;
      font-size: 16px;
      justify-content: flex-end;
      margin-bottom: 35px;
      p{
        margin-bottom: 0;
      }
      ul{
        display: flex;
        list-style: none;
        padding-left: 0;
        li{
          padding: 0 10px;
          cursor: pointer;
          position: relative;
          font-weight: 700;
          color: $blue;
          display: flex;
          align-items: center;
          &::after{
            position: absolute;
            content: '';
            right: 0;
            width: 2px;
            height: 14px;
            background: $black;
          }
          &:last-child{
            padding-right: 0;
            &::after{
              display: none;
            }
          }
        }
      }
    }
  }
}
.catalog-slider{
  .catalog-slide{
    width: auto;
    max-width: 255px;
    height: auto;
    border: 2px solid $white;
    border-radius: 10px;
    padding: 20px 16px;
    background: $white;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform 0.3s;
    z-index: 0;
    .heart{
      display: flex;
      width: max-content;
      height: max-content;
      margin-left: auto;
      margin-right: 4px;
      cursor: pointer;
      transition: all 0.3s;

      &.active{
        transition: all 0.3s;

        fill: $favoriteColor;
      }
    }
    img{
      margin: 30px 0 50px;
      width: 100%;
      height: 87px;
      object-fit: contain;
      object-position: top;
    }
    h3{
      font-weight: 700;
      line-height: normal;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 15px;
      span{
        display: block;
        &:last-child{
          color: $blue;
          transition: all 0.3s;

        }
      }
    }
    .catalog-slide__params{
      p{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 5px;
        color: $black;
        span{
          position: relative;
          &:first-child{
            z-index: 1;
            &::before{
            position: absolute;
            content: '';  
            width: 100px;
            height: 1px;
            background: $black;
            bottom: 4px;
            left: calc(100% + 3px);   

            }

          }
          &:last-child{
            z-index: 2;
            width: 41%;
            background: #fff;
            padding-left: 3px;
            &::before{
            position: absolute;
            content: '';              
            }
          }
        }
      }
    }
    .catalog-slide__price{
      margin: 20px 0 25px;
      p{
        margin: 0;
        span:last-child{
          font-weight: 700;
          font-size: 18px;
        }
      }
    }
    .btn-wrapper{
      @include btn-wrapper;
      margin-top: auto;
    }
    .buyOneClick{
      text-transform: uppercase;
      color: $blue;
      text-align: center;
      width: max-content;
      margin: 20px auto 0;
      border-bottom: 1px dashed;    
      font-weight: 700;  
      transition: all 0.3s;

    }
    &:hover{
      transition: all 0.3s;
      transform: translateY(20px);
      border-color: $green;
      .heart{
        fill: $green;
        transition: all 0.3s;

        &.active{
          transition: all 0.3s;

          fill: $favoriteColor;
        }
      }
      h3{
        span:last-child{
          transition: all 0.3s;
          text-decoration: underline;
        }
      }
      .buyOneClick{
        transition: all 0.3s;
        color: $green;

      }
    }
  }
  .control-wrapper{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-pagination{
    position: relative;
    width: max-content;
    margin: 0 60px;
    display: flex;
    align-items: center;
    .swiper-pagination-bullet{
      width: 10px;
      height: 10px;
      margin: 0 20px 0 0;
      background: $blue;
      opacity: 1;
      &.swiper-pagination-bullet-active{
        width: 14px;
        height: 14px;
        background: $white;
        box-shadow: inset 0 0 0px 3px $blue;
      }
      &:last-child{
        margin-left: 0;
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next{
    position: relative;
    width: 65px;
    min-width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $blue;
    border-radius: 50%;
    &::after{
      content: '';
      width: 14px;
      height: 20px;
      background-image: url('../images/arrow-right.svg');
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .swiper-button-prev{
    &::after{
      background-image: url('../images/arrow-left.svg');
      background-position: left;
    }
  }
}

.manufacturers{
  padding: 60px 0;
  h2{
    width: max-content;
    margin: 0 auto;
    font-size: 36px;
    line-height: normal;
    font-weight: 600;
  }
  .manufacturers-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 60px 0 40px;
    .manufacturers-list__string{
      display: flex;
      width: 100%;
      .manufacturers-list__item{
        width: calc(100% / 6);
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px dashed $gray;
        &:last-child{
          border-right: none;
        }
      }
      &:first-child{
        border-bottom: 1px dashed $gray;
      }
    }
  }
  .manufacturers-all{
    text-transform: uppercase;
    color: $blue;
    border-bottom: 1px dashed;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    width: max-content;
    &::after{
      position: absolute;
      content: '';
      background-image: url('../images/arrow-blue.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 32px;
      height: 11px;
      left: calc(100% + 20px);
    }
  }
}
.delivery{
  position: relative;
  padding: 60px 0 70px;
  z-index: 0;
  .delivery-bckg1{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../images/bckg-3.jpg');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 70% 15%;
    border-top-right-radius: 70% 15%;
    border-bottom-left-radius: 70% 15%;
    border-bottom-right-radius: 70% 15%;
  }
  .delivery-leaf{
    position: absolute;
    width: max-content;
    height: max-content;
    z-index: 2;
  }
  .delivery-leaf1{
    left: 160px;
    top: -10px;
  }
  .delivery-leaf2{
    right: 130px;
    top: 7px;
  }
  .delivery-leaf3{
    right: 35px;
    top: 49%;
  }
  .delivery-leaf4{
    right: 45px;
    bottom: 140px;
  }
  .delivery-leaf5{
    left: 0;
    bottom: 15px;
  }
  .delivery-leaf6{
    left: 35%;
    bottom: 15px;
  }
  .container{
    position: relative;
    z-index: 3;
  }
  h2{
    width: max-content;
    margin: 0 auto;
    font-weight: 400;
    font-size: 36px;
    line-height: normal;
    margin-bottom: 30px;
    span{
      &:first-child,
      &:last-child{
        font-weight: 600;
      }
    }
  }
  .delivery-images{
    width: 100%;
    height: 450px;
    position: relative;
    z-index: 0;
    .map{
      width: 100%;
      height: auto;
      object-fit: contain;
      object-position: center;
    }
    .samolet{
      position: absolute;
      width: 355px;
      height: 266px;
      object-fit: contain;
      object-position: center;
      right: 130px;
      top: 55px;
      z-index: 1;
    }
  }
  .delivery-list-wrapper{
    position: relative;
    width: 100%;
    height: max-content;
    z-index: 0;
    img{
      position: absolute;
      bottom: 100%;
      left: -66px;
    }
    .delivery-list{
      display: flex;
      background: #f6f6f6;
      border-radius: 10px;
      justify-content: space-between;
      padding: 30px;
      position: relative;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      &::before{
        position: absolute;
        content: '';
        width: calc(100% - 20px);
        left: 10px;
        height: calc(100% - 20px);
        top: 10px;
        border: 1px solid $blue;
        border-radius: 10px;
      }
    }
    .delivery-list__item{
      max-width: 275px;
      h3{
        text-transform: uppercase;
        color: $blue;
        position: relative;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 20px;
        &::after{
          position: absolute;
          content: '';
          width: 30px;
          height: 1px;
          background: $blue;
          bottom: -11px;
          left: 0;
        }
      }
      p{
        margin-bottom: 0px;
        line-height: 25px;
      }
    }
    &::before{
      position: absolute;
      content: '';
      width: calc(100% - 30px);
      left: 15px;
      height: calc(100% - 30px);
      bottom: -11px;
      border-radius: 10px;
      background: #f6f6f6;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    }
  }
}
.faq{
  position: relative;
  padding: 60px 0;
  z-index: 1;
  .absolute{
    position: absolute;
    width: max-content;
    height: max-content;
    z-index: 1;
  }
  .faq-question1{
    top: 60px;
    left: 270px;
  }
  .faq-question2{
    top: 10px;
    right: 240px;
  }
  .faq-question3{
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .faq-question4{
    bottom: 150px;
    left: 120px;
  }
  .faq-question5{
    bottom: 5px;
    right: 180px;
  }
  .faq-leaf1{
    padding-left: 15px;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .faq-leaf2{
    left: 7px;
    top: 50%;
  }
  .faq-leaf3{
    right: 170px;
    bottom: 200px;
  }
  .faq-leaf4{
    left: 300px;
    bottom: -50px;
  }
  .container{
    position: relative;
    z-index: 2;
  }
  h2{
    font-size: 36px;
    font-weight: 400;
    width: max-content;
    margin: 0 auto 35px;
    span{
      font-weight: 600;
    }
  }
  .faq-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .faq-list__item{
      width: 37.5%;
      margin-top: 25px;
      h3{
        display: block;
        padding: 30px;
        background: $white;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 20px;
      }
      p{
        margin-bottom: 10px;
      }
      a{
        color: $blue;
        text-decoration: underline;
      }
    }
  }
  .faq-ask{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
      margin-top: 50px;
      text-align: center;
      margin-bottom: 25px;
    }
    p{
      text-align: center;
      margin-bottom: 35px;
      max-width: 680px;
    }
    .btn-wrapper{
      @include btn-wrapper;
    }
  }
}
.footer{
  position: relative;
  padding-top: 60px;
  z-index: 0;
  overflow: hidden;
  border-top-left-radius: 70% 15%;
  border-top-right-radius: 70% 15%;
  p{
    margin-bottom: 0;
  }
  .footer-bckg1{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('../images/bckg2.jpg');
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

  }
  .footer-bckg2{
    position: absolute;
    width: 100%;
    height:  700px;
    right: 0;
    top: 0;
    background-image: url('../images/lines.png');
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
  }
  .absolute{
    position: absolute;
    width: max-content;
    height: max-content;
    z-index: 3;
  }
  .footer-leaf1{
    left: 290px;
    top: -80px;
  }
  .footer-leaf2{
    top: 25px;
    right: 410px;
  }
  .footer-leaf3{
    bottom: -20px;
    left: 40%;
  }
  .container{
    position: relative;
    z-index: 5;
  }
  .footer-bottom{
    display: flex;
    color: $gray;
    padding: 15px 0;
    border-top: 1px solid $gray;
    .additional{
      margin-left: 70px;
      &:nth-child(2){
        margin-left: auto;
      }
    }

  }
  .footer-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    .links{
      display: flex;
      flex-direction: column;
    }
    .questions{
      display: flex;
      flex-direction: column;
    }
    .contacts{
      max-width: 220px;
      .phone{
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 10px;
      }
      .networks{
        display: flex;
        color: $blue;
        margin-bottom: 20px;
        margin-top: 10px;
        a{
          display: flex;
          margin-right: 15px;
          align-items: flex-end;
          padding-bottom: 3px;
          position: relative;
          border-bottom: 1px dashed $blue;
                  img{
            min-width: 19px;
            height: 19px;
            margin-right: 7px;
          }
          p{
            margin: 0;
            line-height: normal;
          }
        }
      }
    }
  }
}



